h1{
    color: #9c9eb4;

}
form{
    padding-left: 15px;
    padding-top: 15px;
}
table,th,td{
    padding-left: 15px;
    border: 1px solid black;
    align-items: center;
    text-align: center;
}

.bx-wrapper img, .bx-viewport{
    max-width: 100%;
    display: block;

}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img{
    width: auto;
    height: 225px;
    max-height: 225px;
    align-content: center;
  }
  
 #marcas img{
     align-items: baseline;
     padding: auto;
     border-style:  groove;
     
 }
 