<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    {% extends "app/layout.html" %}
    {% load crispy_forms_tags %}
{% block body %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
     {{ form.as_p }} 
    
   
    <button type="submit" class="btn btn-primary">Aceptar</button>
    <a href="../" type="submit" class="btn btn-primary">Volver</a>
   
  </form>
{% endblock %}
</body>
</html>
