<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso de usuario administrador</title>
</head>
<body>
    {% extends 'app/layout.html' %}

{% block body %}
<h3>Ingrese usuario y contraseña de Admin</h3>
<div class="container" >
    <form method="POST" action="">
        {% csrf_token %}
        <label for="username">Usuario</label>
        <p><i class="fa fa-user" aria-hidden="true"></i>
            <input type="text" name="username"></p>
        <label for="password">Contraseña</label> 
        <p><i class="fa fa-key" aria-hidden="true"></i>
            <input type="password" name="password"  ></p>
          <input class="btn btn-primary" type="submit" value="Ingresar">
        
    </form>
</div>
{% endblock %}
</body>
</html>
